/* Hamburger Menu Button */
.hamburger-menu {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure the button is above other content */
    display: flex;
    flex-direction: row;
}

/* Menu Content */
.menu-content {
    display: none; /* Hide menu by default */
    position: fixed; /* Use fixed positioning to center on the screen */
    top: 20%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure the menu is above other content */
    width: 300px; /* Set a fixed width for the menu */
    text-align: center; /* Center text inside the menu */
}

.menu-content.open {
    display: block; /* Show menu when open */
}

.overlay.open {
    display: block; /* Show overlay when menu is open */
}

ul {
    list-style: none;
}

.room-menu-wrapper {
    display: inline-block;
}